body {
    margin: 0;
    background: #222;
    font-family: "Trebuchet MS", Arial;
    color: white;
}

#ui-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #1c3d5e;
    color: white;
}

#ui-top button {
    background: #386fa4;
    border: none;
    padding: 10px 14px;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

#username {
    background: #2f4b7d;
    padding: 8px 16px;
    border-radius: 8px;
}
