* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Arial;
}

body {
  background: #222;
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* -------- Top Close Button -------- */
#ui-top {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1c3d5e;
  color: white;
}

#closeBtn {
  background: #b30000;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

#closeBtn:hover {
  background: #e60000;
}

/* -------- Header -------- */
.site-header {
  background: #1c3d5e;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 26px;
  font-weight: bold;
}


/* -------- Title -------- */
.title {
  margin: 10px 0;
  font-size: 70px;
  font-weight: 900;
  font-style: initial;
  text-align: center;
  background: linear-gradient(#FFD700, #FF8C00);-webkit-background-clip: text;
  color: #00C8FF;
  text-shadow: 0 0 12px #003B6F, 0 0 20px #001F36;


}

/* -------- Main Hero Section -------- */
.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Full video background */
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* -------- Card Section -------- */
.top-blue-bar {
    width: 100%;
    background-color: #063970;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

/* Content inside blue bar */
.top-bar-content {
    display: flex;
    align-items: center;
    gap: 18px;
    flex-wrap: nowrap;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

/* Start button */
.btn {
    background-color: limegreen;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
  background: wheat;
}
/* -------- Footer -------- */
.site-footer {
  margin-top: auto;
  padding: 12px;
  background: #1c3d5e;
}