* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Arial;
}

body {
  background: #222;
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* -------- Top Close Button -------- */
#ui-top {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: #1c3d5e;
  color: white;
}

#closeBtn {
  background: #b30000;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#closeBtn:hover {
  background: #e60000;
}

/* -------- Header -------- */
.site-header {
  background: #1c3d5e;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 26px;
  font-weight: bold;
}


/* -------- Title -------- */
.title {
  margin: 30px 0;
  font-size: 40px;
  font-weight: bold;
}

/* -------- Main Hero Section -------- */
.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  border-radius: 15px;
}

.btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 15px 25px;
  background: green;
  text-decoration: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover {
  background: wheat;
}

/* -------- Card Section -------- */
.card {
  background: #10263f;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
}

.card h2 {
  font-size: 24px;
}

/* -------- Footer -------- */
.site-footer {
  margin-top: auto;
  padding: 12px;
  background: #1c3d5e;
}