body {
    margin: 0;
    font-family: "Trebuchet MS", Arial;
    background: #222;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

