body {
    margin: 0;
    font-family: "Trebuchet MS", Arial;
    background: #222;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 12px;
    background: #1c3d5e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-btn {
    background: #386fa4;
    border: none;
    padding: 10px 14px;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.username-box {
    background: #2f4b7d;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
}

#mapContainer {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin-top: 20px;
}

#map {
    width: 100%;
    border: 4px solid #333;
    border-radius: 12px;
    box-shadow: 0 0 20px #000;
}



