html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "Trebuchet MS", Arial, sans-serif;
    background: #222;
    color: white;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 12px 18px;
    background: #1c3d5e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    flex: 1;
}


.icon-Button {
    background: #386fa4;
    border: none;
    padding: 10px 14px;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.icon-Button:hover {
    background: #1a8be6;
    transform: scale(1.08);
}

.username-box {
    background: #8ff0a4;
    color: #003b1f;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#mapContainer {
    position: relative;
    width: 60vw;
    max-width: 700px;
    height: auto;
}

#map {
    width: 100%;
    height: auto;
    border: 4px solid #22306b;
    border-radius: 12px;
    display: block;
}

.port {
    position: absolute;
    width: 18px;
    height: 18px;
    background: red;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 0 10px red;
    transition: 0.15s ease;
}

.port:hover {
    transform: scale(1.25);
}

body.ports-screen {

    background: url("../Images/pic1.jpeg") no-repeat center center fixed;
    background-size: cover;
}

