body {
    margin: 0;
    font-family: "Trebuchet MS", Arial;
    background: #222;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 12px;
    background: #1c3d5e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}