html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "Trebuchet MS", Arial, sans-serif;
    background: #222;
    color: white;
}


.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 12px 18px;
    background: #1c3d5e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    position: relative;

}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    flex: 1;
}


.icon-button {
    border: none;
    background: #386fa4;
    color: white;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s ease;
}

.icon-button:hover {
    background: #1a8be6;
    transform: scale(1.08);
}



.username-box {
    background: #8ff0a4;
    color: #003b1f;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
}

.route-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 60vw;
    max-width: 700px;
    color: white;
}


.route-list li {
    background: #1c273a;
    border: 3px solid #4e709d;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 12px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    transition: 0.2s ease;
    box-shadow: 0 0 12px #000;
    cursor: pointer;
}

.route-list li:hover {
    background: #2a3f57;
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 18px #111;
}

.route-list li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #64b5f6;
    text-decoration: none;
}

#back\ button,
#home\ button {
    position: relative;
    margin-left: 0;
    margin-right: 0;
}


body.route-screen {
    background: url("../Images/pic2.jpeg") no-repeat center center fixed;
    background-size: cover;
}





